*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Card{
    width: 17%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px #7a7a7a;
}

.Card .PicBox img{
    width: 100%;
}

.Card .InfoBox {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.Card .InfoBox span{
    display: flex;
}

.Card .InfoBox span p{
    margin-right: 10px;
    font-weight: bold;
}