.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px;
}

.Panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
}

.Panel button {
  width: 190px;
  margin: 30px;
  padding: 10px 20px;
  background: #ff8100;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 3px #727272;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#Error {
  display: none;
  color: red;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 20px;
}

.Box {
  padding: 15px 15px 25px;
  box-shadow: 4px 4px 10px #a7a7a7;
}

.Box h3 {
  color: #ff8100;
  margin: 10px 20px;
}

.Box input{
  border: 1px solid rgb(189, 189, 189);
  box-shadow: 2px 2px 3px #727272;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 20px;
}

.Box .butSave, .Box .butCancel {
  width: 70px;
  padding: 3px 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 3px #727272;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin: 15px 0 5px;
}

.Box .butSave {
  margin: 23px 20px 10px;
  background: #2d783a;;
}

.Box .butCancel {
  margin: 23px 26px 10px;
  background: #ff2300;
}
